In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv("../adult.csv")

In [3]:
df.index.name = "idx"

In [4]:
display(df)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
idx,,,,,,,,,,,,,,,
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
df['native-country'] = df['native-country'].apply(
    lambda x: 'United-States' if x == 'United-States' else 'Other'
)

In [6]:
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
idx,,,,,,,,,,,,,,,
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [7]:
df["native-country"].value_counts()

native-country
United-States    43832
Other             5010
Name: count, dtype: int64

In [8]:

# Get counts
counts = df["occupation"].value_counts()

# Map rare occupations to "Other"
df["occupation"] = df["occupation"].apply(
    lambda x: x if counts[x] > 3000 else "Other"
)

In [9]:
# Get counts
counts = df["educational-num"].value_counts()

# Map rare occupations to "Other"
df["educational-num"] = df["educational-num"].apply(
    lambda x: x if counts[x] > 1000 else 10000
)

In [10]:
df_droped_nums = df.drop(columns=["age", "fnlwgt", "capital-gain", "capital-loss", "hours-per-week", "education"])

In [11]:
df_droped_nums

,workclass,educational-num,marital-status,occupation,relationship,race,gender,native-country,income
idx,,,,,,,,,
0,Private,7,Never-married,Machine-op-inspct,Own-child,Black,Male,United-States,<=50K
1,Private,9,Married-civ-spouse,Other,Husband,White,Male,United-States,<=50K
2,Local-gov,12,Married-civ-spouse,Other,Husband,White,Male,United-States,>50K
3,Private,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States,>50K
4,?,10,Never-married,Other,Own-child,White,Female,United-States,<=50K
...,...,...,...,...,...,...,...,...,...
48837,Private,12,Married-civ-spouse,Other,Wife,White,Female,United-States,<=50K
48838,Private,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K
48839,Private,9,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K
48840,Private,9,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K
48841,Self-emp-inc,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,>50K

In [12]:
for col in df_droped_nums.columns:
    df_droped_nums[col] = df_droped_nums[col].astype("category")

df_droped_nums = df_droped_nums.apply(lambda x: x.cat.codes if x.dtype == "category" else x)

In [13]:
df_droped_nums

,workclass,educational-num,marital-status,occupation,relationship,race,gender,native-country,income
idx,,,,,,,,,
0,4,1,4,3,3,2,1,1,0
1,4,2,2,4,0,4,1,1,0
2,2,5,2,4,0,4,1,1,1
3,4,3,2,3,0,2,1,1,1
4,0,3,4,4,3,4,0,1,0
...,...,...,...,...,...,...,...,...,...
48837,4,5,2,4,5,4,0,1,0
48838,4,2,2,3,0,4,1,1,1
48839,4,2,6,0,4,4,0,1,0
48840,4,2,4,0,3,4,1,1,0
48841,5,2,2,2,5,4,0,1,1

In [14]:
df_droped_nums.max()+1

workclass          9
educational-num    9
marital-status     7
occupation         8
relationship       6
race               5
gender             2
native-country     2
income             2
dtype: int8

In [15]:
pd.get_dummies(df_droped_nums, drop_first=True)

,workclass,educational-num,marital-status,occupation,relationship,race,gender,native-country,income
idx,,,,,,,,,
0,4,1,4,3,3,2,1,1,0
1,4,2,2,4,0,4,1,1,0
2,2,5,2,4,0,4,1,1,1
3,4,3,2,3,0,2,1,1,1
4,0,3,4,4,3,4,0,1,0
...,...,...,...,...,...,...,...,...,...
48837,4,5,2,4,5,4,0,1,0
48838,4,2,2,3,0,4,1,1,1
48839,4,2,6,0,4,4,0,1,0
48840,4,2,4,0,3,4,1,1,0
48841,5,2,2,2,5,4,0,1,1

In [16]:
df_droped_nums.dtypes()

TypeError: 'Series' object is not callable

In [16]:
for col in df_droped_nums.columns:
    df_droped_nums[col] = df_droped_nums[col].astype("category")

In [19]:
df_droped_nums["income"].sum()

np.int64(11687)

In [22]:
1-df_droped_nums["income"].sum()/len(df_droped_nums)

np.float64(0.7607182343065395)