In [54]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [55]:
df = pd.read_csv("../bank.csv")

In [56]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [57]:
df.nunique()

age            77
job            12
marital         3
education       4
default         2
balance      7168
housing         2
loan            2
contact         3
day            31
month          12
duration     1573
campaign       48
pdays         559
previous       41
poutcome        4
y               2
dtype: int64

In [58]:
df["age"] = pd.qcut(df["age"], q=4, labels=False, duplicates="drop")
df["balance"] = pd.qcut(df["balance"], q=4, labels=False, duplicates="drop")
df["day"] = pd.qcut(df["day"], q=4, labels=False, duplicates="drop")
df["duration"] = pd.qcut(df["duration"], q=4, labels=False, duplicates="drop")
df["campaign"] = pd.qcut(df["campaign"], q=4, labels=False, duplicates="drop")
df["pdays"] = pd.qcut(df["pdays"], q=4, labels=False, duplicates="drop")
df["previous"] = pd.qcut(df["previous"], q=4, labels=False, duplicates="drop")

In [59]:
df_enc = df.apply(lambda s: s.astype('category').cat.codes)

In [60]:
df_enc.nunique()

age           4
job          12
marital       3
education     4
default       2
balance       4
housing       2
loan          2
contact       3
day           4
month        12
duration      4
campaign      3
pdays         1
previous      1
poutcome      4
y             2
dtype: int64

In [61]:
1- df_enc["y"].sum()/len(df_enc)

np.float64(0.8830151954170445)